<!DOCTYPE html>


<html>
<head>
        <meta charset="utf-8" />
	<title>Debriefing</title>
	<link rel="stylesheet" href="/static/css/task.css" type="text/css" media="screen" />
</head>
<body>
	<div id="debriefing">
		<h1>Debriefing</h1>

		<div id="debriefingtext">
		<p>Thank you for your participation in the "Learning to Cook with Others" study.</p>

		<p>Our research involves unerstanding the perceptual-motor processes that guide decision making during team problem-solving tasks. 
			The cooking task you completed is an example of a team task we use to help test our research questions.</p>

		<p>In this study, you may have been told that you would complete this task with two other participants. 
			If this was the case, please note that in fact you completed the entire experiment working with two computer agents.
			This was done because previous research has indicated that simply knowing if your partner is a computer agent can have an impact with how participants complete a task. We wish to remove such biases from our data.
		</p>

		<p>The computer agents that completed the task with you varied in the types of behaviours they perform when working with others.
			In this experiment, we are investigating how 1.) knowledge of who your partner is impacts the strategies you use during this task, and 2.) testing how 1.) knowledge of who is your partner impacts performance, and 2.) if differences between the programming of the computer agents
			has an effect on the strategies and behaviors teams adopt.
		</p>

		<p>Outcomes from this project includes understanding what differentiates high-performing from low-performing teams and to develop methods to improve teamwork using artificial intelligence.</p>

		
		<p>If you have any questions about this research, you may contact the
		principal investigator, Dr. Patrick Nalepka, whose contact e-mail is listed on the Macquarie SONA page.</p>
		</div>

			<p class="cool">Please respond to the following.</p>
			<div id="affirmationbox">
				<p>I feel that I have been adequately debriefed about the nature
					of the study.  The investigator has explained the purposes of the
					research to me.</p>
					<table><tr>
						<td id="affirmative" onClick="javascript:document.forms['accept'].submit()">Yes, I agree.</td>
						<td id="negative" onClick="javascript:document.forms['decline'].submit()">No, please withhold my data. I will contact the experimenter with questions.</td>
					</tr></table> 
					<form id="accept" action="complete" method="post">
						<input type="hidden" name="uniqueid" value="{{ uniqueId }}" />
						<input type="hidden" name="agree" value="true" />
					</form>
					<form id="decline" action="complete" method="post">
						<input type="hidden" name="uniqueid" value="{{ uniqueId }}" />
						<input type="hidden" name="agree" value="false" />
					</form>
			</div>
	</div>
</body>

</html>
